.text-field {
    -fx-background-color: #a9a9a9, gray, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9, gray, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.vbox {
    -fx-alignment: center;
    -fx-background-color: #2f4f4f;
    -fx-padding: 15;
    -fx-spacing: 15;
}

.label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-grid-lines-visible: true;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-hgap: 1;
    -fx-vgap: 1;
}

.game-info {
    -fx-text-fill: beige;
    -fx-label-padding: 0, 0, 10, 10;
    -fx-alignment: center;
    -fx-underline: true;
}

.logo {
    -fx-image: url(/assets/graphics/AlgoEmpiresLogo.png);
}
